annotated-types==0.6.0
anyio==4.2.0
attrs==23.2.0
beautifulsoup4==4.12.3
Brotli @ file:///work/ci_py311/brotli-split_1676830125088/work
cachetools==5.3.2
certifi @ file:///croot/certifi_1700501669400/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
contourpy==1.2.0
cryptography @ file:///croot/cryptography_1702070282333/work
cycler==0.12.1
distro==1.9.0
fastjsonschema==2.19.1
filelock @ file:///croot/filelock_1700591183607/work
fonttools==4.47.2
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
google-api-core==2.15.0
google-api-python-client==2.114.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
idna @ file:///work/ci_py311/idna_1676822698822/work
Jinja2 @ file:///work/ci_py311/jinja2_1676823587943/work
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_core==5.7.1
kiwisolver==1.4.5
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.8.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
nbformat==5.9.2
networkx @ file:///croot/networkx_1690561992265/work
numpy @ file:///croot/numpy_and_numpy_base_1704311704800/work/dist/numpy-1.26.3-cp311-cp311-linux_x86_64.whl#sha256=10a078151ecec16bafb535f7487635217625fa06536dec8509e514648c78d626
oauthlib==3.2.2
openai==1.9.0
packaging==23.2
pandas==2.2.0
Pillow @ file:///croot/pillow_1696580024257/work
platformdirs==4.1.0
protobuf==4.25.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.5.3
pydantic_core==2.14.6
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML @ file:///croot/pyyaml_1698096049011/work
referencing==0.32.1
requests @ file:///croot/requests_1690400202158/work
requests-oauthlib==1.3.1
rpds-py==0.17.1
rsa==4.9
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sympy @ file:///croot/sympy_1701397643339/work
taufactor==1.1.0
tifffile==2023.12.9
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.66.1
traitlets==5.14.1
triton==2.1.0
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2023.4
uritemplate==4.1.1
urllib3 @ file:///croot/urllib3_1698257533958/work
